
:root {
  --color-text: rgb(196, 196, 196);
  --color-primary: rgb(136, 136, 136);
  
  --color-background: rgb(37, 37, 37);
  --color-background-light: rgb(71, 71, 71);
  --color-border: rgb(177, 177, 177);
  --border-radius: 8px;

  --font-size-base: 16px;
  --line-height-base: 1.5;
  --font-family-sans: Roboto;
}

main, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);

  font-family: var(--font-family-sans); /* Use the variable */
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
